* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: sans-serif;
  background: transparent;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: rgb(208, 218, 218);
  --mainfont: #ddd;
  --spancolor: #0105e2;
}

header {
  width: auto;
  height: 92vh;
  padding: 2rem;
  background-image: url("https://images.pexels.com/photos/1054218/pexels-photo-1054218.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--mainfont);
}

#nav_head {
  font-size: 1.3rem;
  font-weight: 800;
}

#navbtn {
  font-size: 2rem;
  cursor: pointer;
  color: var(--mainfont);
}

#sidebar {
  position: absolute;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 80vh;
  overflow: hidden;
  animation: navToggle 0.4s ease-in-out forwards;
}

#links {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#links a {
  color: var(--mainfont);
  font-size: 0.8rem;
  padding: 2rem;
  width: 100%;
  border-bottom: 1px solid #999;
  transition: 0.4s ease-in-out;
}

#links a:hover {
  font-size: 1.2rem;
  color: var(--primary-color);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  max-width: 60rem;
  margin: auto;
  text-align: center;
  height: 80vh;
  color: var(--mainfont);
}

#content h1 {
  font-size: 3.4rem;
  font-weight: 900;
}

span {
  color: var(--spancolor);
}

#content p {
  font-size: 2rem;
  color: white;
}

#content a {
  font-size: 4rem;
  color: var(--spancolor);
}

#contentbtn {
  padding: 1rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  border: 4px solid var(--mainfont);
}

#splendid {
  background-color: white;
  padding: 10rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 4rem ;
  flex-wrap: wrap;
}

#splenWord {
  flex: 1;
}

#splenWord p, #topText p {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #888;
  line-height: 2rem;
  margin-bottom: 4rem;
}

#splenWord h1, #topText h1 {
  font-size: 2.6rem;
  color: #333;
  margin-bottom: 2rem;
}

#splenWord a, #topText a {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border: 2px solid var(--spancolor);
  transition: 0.4s ease-in-out;
  color: #481fff;
  border-radius: 4px;
}

#splenWord a:hover, #topText a:hover {
  letter-spacing: 4px;
}

#splenWord a:visited, #topText a:visited {
  color: #481fff;
}

#splenWord a:active, #topText a:active {
  color: #481fff;
}

#busOffers {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  max-width: 14rem;
}

.card div {
  font-size: 2.4rem;
  color: #0105e2;
  margin-bottom: 0.4rem;
}

.card h1 {
  color: #4c4c68;
  font-size: 1.4rem;
}

.card p {
  color: #949494;
  font-size: 1rem;
}

#counts{
   background-image: url('http://jevelin.shufflehound.com/startup-creative/wp-content/uploads/sites/36/2019/11/daniel-korpai-8GDCzWrcE3M-unsplash.jpg?id=761');
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 100vh;
   color: var(--mainfont);
}

.count{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   text-align: center;
   max-width: 16rem;
}

.count h1{
   font-size: 5rem;
   font-weight: 900;
   margin-bottom: 1rem;
}

.gap{
   border: 2px solid #f5f522;
   width: 1rem;
   margin-bottom: 1rem;
}

.count p{
   font-size: 1.6rem;
}

.high{
  margin: 10rem auto ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
  width: 80%;
}

.highImg img, .highText{
  flex: 1;
  width: 100%;
  margin: auto;
  border-radius: 2rem;
}

.highText h1{
  font-size: 2.6rem;
  font-weight: 800;
  color: #444;
  margin-bottom: 2rem;
}

.highP{
  font-size: 0.9rem;
  color: #999;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.highText li{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 3rem 0;
  font-size: 1rem;
  color: #444;
  font-weight: 600;
}

.iconhigh{
  color: #0105e2;
  font-size: 1rem;
  font-weight: 900;
}

#stats{
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  justify-content: space-between;
}

.barText{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar{
  height: 1rem;
  width: 100%;
  margin-top: 1rem;
  border: 2px solid var(--mainfont);
  border-radius: 1rem;
}

#line1, #line2{
  background-color: #f5f522;
  padding: 0.5rem;
  border-radius: 1rem;
}

#line1{
  width: 80%;
}

#line2{
  width: 20%;
}

#gallery, #gallery h1{
  text-align: center;
  margin-bottom: 1rem;
  color: #4c4c68;
}

#gallery p{
  color: #999;
  font-size: 1.2rem;
}

.gallery-container {
  width: 80%; 
  margin: 10rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 1rem;
}

.gallery-slide {
  width: 40%;
  margin: auto;
}

.gallery-slide img{
  width: 100%;
}

#top{
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 4rem;
  margin: 12rem auto;
  flex-wrap: wrap;
}

#topText{
  flex: 2;
}

#topCards{
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#topText h4{
  color: #0105e2;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  font-weight: 100;
}

.topCard{
  background-color: #e7e2fd41;
  padding: 2rem 4rem;
  color: #888afd;
  font-size: 2rem;
  letter-spacing: 1px;
}

.topCard section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 6rem;
  margin: 0.6rem 0;
  flex-wrap: wrap;
}

.topCard section p{
   color: #555;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 100;
}

.topCard section img{
  border-radius: 50%;
}

.topCard p{
  font-size: 1rem;
  color: #333;
  font-weight: 700;
}

#bottom{
  background-image: url('http://jevelin.shufflehound.com/startup-creative/wp-content/uploads/sites/36/2019/11/Rectangle-1-copy-9.jpg?id=776');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 0;
}

#botcontent{
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.bot1, .bot2{
  flex: 1;
  color: white;
}

.bot1 h1{
  font-size: 2rem;
  color: white;
  margin-bottom: 2rem;
}

.bot1 p{
  font-size: 1.3rem;
  font-weight: lighter;
  line-height: 28.2px;
  width: 80%;
  letter-spacing: normal;
  margin-bottom: 2rem;
}

#social{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.bot2{
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.bot2 h1{
  font-size:  1.4rem;
}

.bot2 ul{
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.bot2 a{
  color: #b8b6d3;
}

@media all and (min-width: 700px) {
  #high2nd{
    flex-direction: row-reverse;
  }
}

@media all and (max-width: 800px) {
  #content h1 {
    font-size: 1.4rem;
  }
  #content p {
    font-size: 1rem;
  }
  #splendid {
    padding: 2rem;
  }
  .count h1{
    font-size: 2rem;
  }
  .count p{
    font-size: 0.6rem;
  }
  #botcontent{
    justify-content: center;
  }
}

@keyframes navToggle {
  from {
    opacity: 1;
  }

  to {
    width: 0;
    opacity: 0;
  }
}

@keyframes linkToggle {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
